<style>
  
  </style>
  <div class="navbar">
    <a  href="#" routerLink="/price">Price</a> 
    <a href="#" routerLink="/products">Add Product</a> 
    <a class="active" href="#"  routerLink="/market">Add Market</a> 
  </div>


<form  [formGroup]="productForm"  (ngSubmit)="onSubmit()">
    <h1>Market List</h1>
    <div class="container">     
     
       <label  style="padding-top: 25px; font-size: 26px; width: 35%;" >Name of Market :</label>
        <input type="text"  id="txtProductName" formControlName="marketName" placeholder="Name of Product"  style="width: 50%;" >
          <button type="submit" class="button" (click)="PostProduct(productForm.value)">Submit</button> 
          <button type="submit" class="button" (click)="UpdateProduct(productForm.value)">Update</button>
      
    </div>
    
     
      <div class="alert alert-info"><b>Market List</b></div>
      <div >
        <table class="table">
          <tr>
            <th>Market Name</th>
            <th>Market Edit</th>
            
          </tr>
          <tr *ngFor="let prd of ProductList">
            <td>{{prd.marketName}}</td>
            
            <td><button type="button" matTooltip="Click Edit Button" (click)="ProductDetailsToEdit(prd.marketID)">Edit</button>
              |
              <button type="button" matTooltip="Click Delete Button" (click)="DeleteProduct(prd.marketID)">Delete</button>
            </td>
          </tr>
        </table>
      </div>

      
   
  </form>